<video id="gum" autoplay muted></video>
<video id="recorded" style="display: none"></video>
<div id="container"></div>
<div id="icons">
  <button id="record" class="btn btn-primary">Start Recording</button>
  <button id="download" class="btn btn-primary">Download</button>
  <button id="fullscreen" class="btn btn-primary">Full screen</button>
</div>